.hg*
.env
.env.*
!.env.example
._*
*.hpkg
*.pyc
*.lock
*.log
*.log.[0-9]
*.start
*.stop
*.shm
*.DS_Store
*.token
core/config.json
github/pat.md
make/native/*
make/tmp/*
*/.settings/*
*/bld_*/*
/.metadata/
